.modal {
  position: fixed;
  top: 15%;
  left: 2%;
  right: 2%;
  bottom: 15%;
  padding: 20px 15px;
  background: white;
  overflow: scroll;
  z-index: 40;

  &__image {
    width: 100%;
    margin-bottom: 15px;
  }

  &__description {
    font-size: 15px;
    margin: 20px 0;
  }

  &__content {
    height: 100%;
  }

  &__ticket {
    margin-bottom: 50%;
  }

  &__ticket-header {
    margin-top: 40px;
  }

  &__success {
    margin-bottom: 30%;
  }

  &__success-tag {
    display: inline-block;
    padding: 15px;
    border-radius: 50px;
    background-color: #52F3A0;
    color: white;
  }

  &__failure {
    margin-bottom: 50%;
  }

  &__controls {
    display: flex;

    button:nth-of-type(n + 2) {
      margin-left: 10px;
    }
  }
}
